<div class="container">
  <button {{action 'logout'}} class="btn btn-link pull-right">logout</button>
  <h1 class="page-header">Dashboard</h1>
  <h3>Statistics for #python on Twitter</h3>

  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" onclick={{action 'getPerHour'}}>Tweets Per Hour</button>
    <button type="button" class="btn btn-default" onclick={{action 'getRetweet'}}>Max Retweet Per Day</button>
    {{!-- <button type="button" class="btn btn-default">Right</button> --}}
  </div>

  <div class="row">
    <div class="col-md-12">
      {{#if showPerHour}}
        {{ember-chart type='bar' data=model.tweetPerHour width=400}}
      {{/if}}
      {{#if showRetweet}}
        {{ember-chart type='bar' data=model.maxRetweet width=400}}
      {{/if}}
    </div>
  </div>
</div>
